version: '3.8'

services:
  backend:
    build: ./backend
    container_name: em-backend
    restart: unless-stopped
    networks:
      - app-network

  nginx:
    build: ./nginx
    container_name: em-nginx
    restart: unless-stopped
    ports:
      - "80:80"
    networks:
      - app-network
    depends_on:
      - backend

networks:
  app-network:
    driver: bridge
